# python
*.pyc
.python-version

# mac
.DS_Store

# pycharm
.idea/

# jupyter notebook
.ipynb_checkpoints/

notebooks/data/train/cats/*
notebooks/data/train/dogs/*
notebooks/data/validation/cats/*
notebooks/data/validation/dogs/*
notebooks/data/production/*
notebooks/models/*.npy
notebooks/models/*.h5
!.keep

